[submodule "ext/http"]
	path = ext/http
	url = https://github.com/laytan/odin-http
[submodule "lib/clay"]
	path = lib/clay
	url = https://github.com/nicbarker/clay
[submodule "assets"]
	path = assets
	url = https://github.com/tralph3/loom-assets
